/* --- CSSリセット（モダン）--- */
*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body {
height: 100%;
font-family: sans-serif;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
height: auto;
}

input, button, textarea, select {
font: inherit;
border: none;
background: none;
outline: none;
}

a {
color: inherit;
text-decoration: none;
}

ul, ol {
list-style: none;
}

/*あとで消す*/

.logo{
  width: 100%;
  height: 179px;
  background-color: #000;
}
.nav{
  width: 100%;
  height: 60px;
  background-color: #6B666C;
}

/*カバー*/
.top-video{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.my-cover-area{
  position: absolute;
  top: 35%;
  left: 10%;
}

.my-cover-text01{
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.my-cover-text01 h2{
  position: absolute;
  font-size: 40px;
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
  top: 0px;
  left: 40px;
}

.text01-back{
  background-color: #9CD7F6;
  width: 450px;
  height: 60px;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
}

.my-cover-text02{
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.my-cover-text02 h2{
  position: absolute;
  font-size: 40px;
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
  top: 0px;
  left: 40px;
}

.text02-back{
  background-color: #E38FFD;
  width: 650px;
  height: 60px;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}

.my-cover-text03{
  background-color: rgb(255, 255, 255,0.8);
  font-size: 20px;
  color: #000;
  width: 740px;
  padding: 30px 50px;
  margin-bottom: 50px;
}

.my-cover-info{
  background-color: #D04FF7;
  border-radius: 10px;
  color: #fff;
  width: 500px;
  text-align: center;
  padding: 20px 0;
}

.my-cover-info h3{
  font-size: 36px;
  font-weight: bold;
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
}

.my-cover-info p{
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
}

/*Newsエリア*/
.my-news{
  height: auto;
  position: relative;
  padding-top: 200px;
}

.background01{
  background-image: url('images/cyber.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* ←ここで固定表示 */
  position: absolute; /* wrap の中で配置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*見出し*/
.my-title-area{
  margin: 0 auto;
  width: 70%;
  padding: 100px 0 50px 0;
  position: relative;
}

.my-title-area-back{
  width: 100%;
  height: 40px;
  background-color: #6B666C;
  clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}

.my-title-text{
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 50px;
  left: 60px;
}

.my-title{
  font-size: 80px;
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: #fff;
}

.my-subtitle{
  color: #E38FFD;
  font-size: 24px;
  padding-left: 20px;
}

/*アナウンスエリア*/
.announce-area{
  width: 980px;
  height: auto;
  margin: 0 auto;
}

.announce-title{
  background-color: #D04FF7;
  height: fit-content;
}

.announce-text{
  display: flex;
  align-items: baseline;
  padding-bottom: 5px;
}

.announce-title h3{
  font-size: 28px;
  font-family: "DotGothic16", sans-serif;
  color: #fff;
  font-weight: normal;
  padding: 0 10px;
}

.announce-list{
  background-color: #373333;
  padding: 20px 40px;
  color: #D04FF7;
  font-family: "DotGothic16", sans-serif;
}

/*あとで消す*/
.news-section img{
  width: 100%;
  margin: 50px auto;
}
/*ここまで*/

/*About us*/
.about-container{
  width: 100%;
  height: 700px;
  background-color: #000;
}