/* --- CSSリセット（モダン）--- */
*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body {
height: 100%;
font-family: sans-serif;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
height: auto;
}

input, button, textarea, select {
font: inherit;
border: none;
background: none;
outline: none;
}

a {
color: inherit;
text-decoration: none;
}

ul, ol {
list-style: none;
}

/*あとで消す*/

.logo{
  width: 100%;
  height: 179px;
  background-color: #000;
}
.nav{
  width: 100%;
  height: 60px;
  background-color: #6B666C;
}

/*カバー*/
.top-video{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.my-cover-area{
  position: absolute;
  top: 35%;
  left: 10%;
}

.my-cover-text01{
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.my-cover-text01 h2{
  position: absolute;
  font-size: 40px;
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
  top: 0px;
  left: 40px;
}

.text01-back{
  background-color: #9CD7F6;
  width: 450px;
  height: 60px;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
}

.my-cover-text02{
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.my-cover-text02 h2{
  position: absolute;
  font-size: 40px;
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
  top: 0px;
  left: 40px;
}

.text02-back{
  background-color: #E38FFD;
  width: 650px;
  height: 60px;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}

.my-cover-text03{
  background-color: rgb(255, 255, 255,0.8);
  font-size: 20px;
  color: #000;
  width: 740px;
  padding: 30px 50px;
  margin-bottom: 50px;
}

.my-cover-info{
  background-color: #D04FF7;
  border-radius: 10px;
  color: #fff;
  width: 500px;
  text-align: center;
  padding: 20px 0;
}

.my-cover-info h3{
  font-size: 36px;
  font-weight: bold;
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
}

.my-cover-info p{
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
}

/* 表示されたときに付与されるクラス */
.my-cover-text01{
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.my-cover-text02{
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.my-cover-text03{
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.my-cover-info{
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.my-title-area{
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.my-cover-text01.fade-in {
opacity: 1;
transform: translateX(0);
}

.my-cover-text02.fade-in {
transition-delay: 1s;
opacity: 1;
transform: translateX(0);
}

.my-cover-text03.fade-in {
  transition-delay: 2s;
  opacity: 1;
  transform: translateY(0);
  }

  .my-cover-info.fade-in {
    transition-delay: 2s;
    opacity: 1;
    transform: translateY(0);
    }

  .my-title-area.fade-in{
    opacity: 1;
    transform: translateY(0);
  }

/*Newsエリア*/
.my-news{
  height: auto;
  position: relative;
  padding: 200px 0;
}

.background01{
  background-image: url('images/cyber.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* ←ここで固定表示 */
  position: absolute; /* wrap の中で配置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*見出し*/
.my-title-area{
  margin: 0 auto;
  width: 70%;
  padding: 100px 0 50px 0;
  position: relative;
}

.my-title-area-back{
  width: 100%;
  height: 40px;
  background-color: #6B666C;
  clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}

.my-title-text{
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 50px;
  left: 60px;
}

.my-title{
  font-size: 80px;
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: #fff;
}

.my-subtitle{
  color: #E38FFD;
  font-size: 24px;
  padding-left: 20px;
}

/*アナウンスエリア*/
.announce-area{
  width: 980px;
  height: auto;
  margin: 0 auto;
}

/*表示切替
.announce-area{
  display: none;
}*/

.announce-title{
  background-color: #D04FF7;
  height: fit-content;
}

.announce-titlebox{
  display: flex;
  align-items: baseline;
  padding-bottom: 5px;
}

.announce-title h3{
  font-size: 28px;
  font-family: "DotGothic16", sans-serif;
  color: #fff;
  font-weight: normal;
  padding: 0 10px;
}

.announce-list{
  background-color: #373333;
  width: 100%;
  height: 180px;
  padding: 20px 40px;
  color: #D04FF7;
  font-family: "DotGothic16", sans-serif;
}

.announce-list ul li{
  margin-bottom: 10px;
}


/* CSS：点滅カーソル */

  .typing {
    white-space: pre-wrap; /* 改行を保持 */
  }
  .typing::after {
    content: "|";
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s steps(1) infinite;
  }
  @keyframes blink {
    50% { opacity: 0; }
  }

/*お知らせ*/
.news-section{
  padding: 50px 0;
}

/*あとで消す*/
.news-section img{
  width: 980px;
  margin: 0 auto;
}
/*ここまで*/

/*About us*/
.about-container{
  width: 100%;
  height: auto;
  background-color: #000;
  padding: 150px 0;
}

.about-box{
  width: 980px;
  margin: 50px auto;
}

.about-content{
  display: flex;
  }
  
.about-article h3{
  color: #D04FF7;
  font-family: "DotGothic16", sans-serif;
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 20px;
}

.about-textbox{
  display: flex;
  }

.text-num{
  color: #fff;
  font-family: "DotGothic16", sans-serif;
  font-size: 128px;
  line-height: 1;
}

.text-article{
  color: #fff;
  font-size: 20px;
  width: 500px;
  line-height: 1.6;
  margin-left: 20px;
}

.about-image-right{
  margin-left: 30px;
}

.about-image-left{
  margin-right: 30px;
}

.about-image img{
  width: 300px;
  height: auto;
}

/* 表示されたときに付与されるクラス */
.about-article01,.about-image-left02{
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.about-article01.fade-in,.about-image-left02.fade-in {
  opacity: 1;
  transform: translateX(0);
  }

.about-image-right01,.about-article02{
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.about-image-right01.fade-in,.about-article02.fade-in {
  opacity: 1;
  transform: translateX(0);
  }


/*about02*/
.about02-container{
  padding: 200px 0;
  height: auto;
  position: relative;
}

.background02{
  background-image: url('images/e-sport.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* ←ここで固定表示 */
  position: absolute; /* wrap の中で配置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about02-wrapper{
  background-color: rgb(255, 255, 255,0.7);
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.about02-textbox{
  text-align: center;
  padding: 80px 75px;
}
  

.about02-textbox h2{
  font-size: 36px;
  color: #D04FF7;
  padding-bottom: 50px;
}

.about02-textbox p{
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 1.6;
  margin-bottom: 30px;
}

/*Contents*/
.suzaki-contents{
  background-color: #000;
  width: 100%;
  height: auto;
  padding: 150px 0;
  z-index: -2;
}

.suzaki-wrapper{
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.suzaki-space img{
  position: absolute;
  top:500px;
left:50%;
transform:translate(-50%,0);
z-index: 0;
}

.suzaki-textbox{
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 2px dotted #fff;
  margin-bottom: 30px;
}
.suzaki-textbox:nth-child(6){
  border-bottom: none;
  margin-bottom: 100px;
  padding-bottom: 0;
}

.suzaki-flex{
  display: flex;
  justify-content: space-between;
}

.suzaki-textbox h3{
  font-size: 36px;
  color: #D04FF7;
  font-family: "DotGothic16", sans-serif;
  padding-bottom: 20px;
  z-index: 9999;
  font-weight: normal;
}

.suzaki-text01{
  width: 50%;
  height: auto;
  color: #fff;
}

.suzaki-text01 p{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: 400;
}

.suzaki-img{
  width: 350px;
  height: auto;
  z-index: 5;
}
.suzaki-textbox,
.suzaki-flex,
.suzaki-text01,
.suzaki-img{
  position: relative;  
  z-index: 10;         
}

/* 表示されたときに付与されるクラス */
.slide-left-text,.slide-left-img{
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.slide-left-text.fade-in,.slide-left-img.fade-in {
  opacity: 1;
  transform: translateX(0);
  }

.slide-rigit-img,.slide-right-text{
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.slide-rigit-img.fade-in,.slide-right-text.fade-in {
  opacity: 1;
  transform: translateX(0);
  }

/*キャラ*/
.suzaki-character{
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}

.suzaki-character img{
  width: 143px;
  height: 151px;
}

/*Office*/
.office-contents{
  width: 100%;
  padding: 150px 0;
}

.office-image{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.office-image img{
  width: 48%;
  height: auto;
}

.office-info{
  width: 60%;
  margin: 70px auto;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255,0.8);
}

.suzaki-info{
  display: flex;
  justify-content: flex-start;
  padding: 30px 0;
  border-bottom: 2px dotted #000;
  margin: 0 100px;
}

.suzaki-info h3{
  width: 145px;
  height: 78.39px;
  color: #fff;
  background-color: #D04FF7;
  font-size: 24px;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.suzaki-info p{
  font-size: 24px;
  line-height: 1.6;
  color: #000;
  padding: 20px;
  text-align: left;
}

.improve{
  margin: 30px auto;
  width: 40%;
  background-color: #9CD7F6;
  color: #fff;
  font-size: 24px;
  padding: 20px 50px;
  border-radius: 10px;
  border: 1px solid #2883CD;
}

/*お問い合わせ*/
.inquire{
  width: 100%;
  height: 800px;
  padding: 100px 0;
  position: relative;
}

.background03{
  background-image: url('images/pc01.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.inquire-contents{
  width: 60%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.inquire-contents h3{
  font-size: 48px;
  color: #fff;
  margin-bottom: 30px;
}

.inquire-text{
  background-color: rgb(0, 0, 0,0.7);
  width: 837px;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  padding: 30px 80px;
}

.inquire-button{
  background-color: #D04FF7;
  border-radius: 10px;
  color: #fff;
  width: 500px;
  text-align: center;
  padding: 20px 0 30px 0;
  margin: 80px auto;
}

.inquire-button p{
  font-size: 36px;
  font-weight: bold;
  text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
}

.inquire-tel{
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  }

/*---クラスの付与---*/
.inquire-contents,.inquire-text,.inquire-button,.inquire-tel{
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease,transform 2s ease; 
}

.inquire-contents.fade-in,.inquire-text.fade-in,.inquire-button.fade-in,.inquire-tel.fade-in {
  opacity: 1;
  transform: translateY(0);
  }

/*--- レスポンシブ ---*/
@media screen and (max-width: 900px) { 
  .top-video{
    background-size: cover;
    height: 100vh;
    z-index: 0;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
  }
  
  .text01-back{
    width: 70%;
    }

  .text02-back{
    width: 90%;
    }
  
  
  .my-cover-text03{
    width: 90%;
    }
  


  .announce-area{
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .my-title-area{
    width: 90%;
    }

    .news-section img{
      width: 90%;
     }

     /*About us*/
  
    .about-box{
    width: 100%;
    }
    .about-article{
      text-align: center;
      }

    .about-textbox{
      justify-content: center;
    }

    .about-image-right{
      margin-left: 0;
    }
    .about-image-right img{
      margin: 0 auto;

    }
    .about-image-left{
      margin-right: 0;
    }
    .about-image-left img{
      margin: 0 auto;
    }

    .about01{
      flex-direction: column;
      margin-bottom: 100px;
    }

    .about02{
      flex-direction: column-reverse;
    }

    /*真ん中パララックス*/
    .about02-wrapper{
      background-color: rgb(255, 255, 255,0.7);
      margin: 0 auto;
      width: 90%;
      height: auto;
    }

    /*スザキコンテンツ*/
    .suzaki-textbox{
      width: 90%;
    }

    .text-article{
      width: 50%;
      }
    
      .suzaki-character{
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
      }
    
      
      .suzaki-character img{
        width: 143px;
        height: 151px;
      }

    /*オフィス*/
    .office-image{
      width: 90%;
    }

    .office-info{
      width: 90%;
    }

    .map iframe{
      width: 80%;
      height: 300px;
    }

    /*お問い合わせ*/

    .inquire-contents{
      width: 100%;
      }

    .inquire-text{
      width: 90%;
      padding: 30px 0;
      }
}

@media screen and (max-width: 540px) { 
  .logo{
    display: none;
  }

  .my-cover-area{
    top: 25%;
    left: 5%;
  }

  .my-cover-text01 h2,
  .my-cover-text02 h2{
    font-size: 18px;
    left: 20px;
  }

  .my-cover-text01 .text01-back{
    width: 200px;
    height: 25px;
  }
 
  .my-cover-text02 .text02-back{
    width: 300px;
    height: 25px;
  }

  .my-cover-text01 h2{
    position: absolute;
    text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
    top: -8px;
    left: 15px;
  }

  .my-cover-text02 h2{
    position: absolute;
    text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
    top: -8px;
    left: 15px;
  }

  

  .my-cover-text03{
    width: 90%;
    font-size: 12px;
    padding: 20px 30px;
    }

    .my-cover-info{
      background-color: #D04FF7;
      border-radius: 10px;
      color: #fff;
      width: 80%;
      text-align: center;
      padding: 20px 0;
    }
    
    .my-cover-info h3{
      font-size: 20px;
      font-weight: bold;
      text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
    }
    
    .my-cover-info p{
      text-shadow:2px 6px 3px rgb(0, 0, 0,0.5);
    }
    

    .my-title{
      font-size: 40px;
      font-family: "Exo", sans-serif;
      font-weight: 300;
      color: #fff;
    }
    
    .my-subtitle{
      color: #E38FFD;
      font-size: 14px;
      padding-left: 20px;
    }

    .about-article h3{
      font-size: 28px;
    }

    .text-num{
      font-size: 96px;
    }

    .text-article{
      width: 100%;
    }

    .suzaki-textbox h3{
      font-size: 28px;
    }

    .suzaki-img{
      width: 250px;
    }

    .suzaki-character img{
      width: 71px;
      height: 75px;
    }
}